@model EcommerceMVC.EcommerceDTOs.LoginRequest

@{
    ViewData["Title"] = "Login";
}
<center>
<h1>@ViewData["Title"]</h1> 
<br />

    <div class="col-md-4"></div>
    <div class="col-md-4">
    <form class="form-control" method="post" action="">
        <label class="form-label">Username</label>
        <input type ="text" class="input-group-text" name="username" id="username" required=required/>
        <label class="form-label">Password</label>
        <input type ="text" class="input-group-text" name="password" id="password" required=required/>
        <br />
        <input type="submit" class="btn-primary btn-sm" name="submit" value="Login" /> 
        <br /> <br />
    </form>
    <br />
    <a href="/home" class="text-danger"><u>Not a member yet? Sign Up</u></a>
    </div>
    <div class="col-md-4"></div>
    
</center>
