@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>.Net Team's Secret Project: A Simple E-Commerce Website</p>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
    @{
        var first = true;
    }
    @foreach (var products in Model.Products)
    {
        <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
            <img class="d-block w-100" height="100%" width="100%" src="~/banners/@products.ProductImage1" alt="@products.ProductName">
        </div>
        first = false;
    }
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                 data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                 data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
</a>
</div>

